@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

/* ----- GENERAL STYLING ----- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

/* ----- HEADER STYLING ----- */
header {
  padding: 0.5em 3em;
  text-align: center;
  color: #494948;
  background-color: #dad8d8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  text-align: left;
  color: white;
  background-color: #2f4d8e;
  font-size: 1.5em;
  padding: 1em;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.nav-menu a {
  margin: 0 1em;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  transition: 200ms;
}

.nav-menu a:hover {
  color: #0784b5;
}

/* ----- PAGE STYLING ----- */
h2 {
  font-family: "Josefin Sans", sans-serif;
  margin: 2em 2em 0 2em;
  color: #2f4d8e;
  font-size: 2em;
  border-bottom: 3px solid #2f4d8e;
}

#page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3em 0;
  width: 100%;
}

/* ----- PUSER BLOCKS STYLING ----- */
h3 {
  color: #0784b5;
  border-top: 2px solid #9da3a4;
  border-bottom: 2px solid #9da3a4;
}

.crown-block {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.user-block {
  padding: 2em;
  margin: 1em;
  border-top: 3px solid #404040;
  border-bottom: 3px solid #404040;
  border-radius: 25px 0 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  background-color: #f8f5f5;
  transition: 200ms ease-out;
}
.user-block:hover {
  box-shadow: 0 0 15px 2px lightgray;
}

.image-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  border: 1px solid lightgrey;
  border-radius: 100%;
  width: 80%;
  width: 215px;
  height: 215px;
}

.desc-block,
.roles-block {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.roles-block p {
  font-size: 0.9em;
  margin-right: 1em;
  border: 1px solid lightgray;
  padding: 0.25em 0.75em;
  border-radius: 10px;
}

svg {
  color: gold;
}

/* ----- FOOTER STYLING ----- */

footer {
  background-color: #dad8d8;
  padding: 1em;
}

footer p {
  width: 80%;
  margin: 0.5em auto;
  text-align: center;
}

@media all and (max-width: 687px) {
  header {
    justify-content: center;
    padding-bottom: 1.5em;
  }
}
